.about {
    background-color: $color-grey-light-2;
    grid-column: full-start / full-end;
    
    display: grid;
    grid-template-columns: minmax(50rem,max-content) 1fr;
    justify-items: center;
    padding: 25rem 20rem 10rem;
    margin-top: -25vh;
    margin-bottom: -4vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.picture {
    margin: 2rem 0;
    display: grid;
    justify-items: center;
    &__img {
        width: 30rem;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    .sicial-icons {
        margin-top: 1.5rem;
        
        .icon {
            font-size: 3rem;
            color: $color-grey-dark-1;
            &:not(:last-child) {margin-right: 1rem;}
            &:hover {
                color: $color-grey-dark-2;
            }
        }
    }
}

.content {
    align-self: center;
    justify-items: start;
    font-family: 'KoHo', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-grey-dark-2;
    display: grid;
    justify-items: center;
    &__heading {
        justify-self: start;
        margin-bottom: 3rem;
    }
    p:first-of-type {
        margin-bottom: 1rem;
    }
}