.header {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/bg.jpg);
    background-color: 100%;
    background-position: center;
    grid-column: full-start / full-end;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 6rem;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    z-index: 10;
    h1 {
        animation-name: pulse;
    }
    h2 {
        justify-self: center;
        margin: 3rem 0;
    }
    .btn {
        background-color: blue;
        padding: 0.8rem 2.5rem;
        border-radius: 25px;
        border: 0;
        transition: transform .2s;
        &__start {
            justify-self: center;
            color: #fff;
            font-size: 1.8rem;
            text-decoration: none;
            text-transform: uppercase;
        }
        &::focus {
            border: 0;
            outline: none;
        }
        &:hover {
            transform: translateY(-7px);
        }
    }
}