.services {
    padding: 10rem 15rem 20rem;
    margin-top: -10vh;
    background-color: rgb(221, 184, 138);
    
    grid-column: full-start / full-end;
    clip-path: polygon(0 0, 100% 10vh, 100% 80%, 0 100%);
    justify-items: center;
    box-sizing: border-box;
}

.service__heading {
    grid-column: 1 / -1;
}
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 2.5rem; 
    animation-iteration-count: 2;
}

.service {
    display: grid;
    justify-items: center;
    &__icon {
        color: $color-primary-dark;
        font-size: 4.5rem;
        justify-self: center;
        align-self: end;
    }
    &__text {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        font-family: 'Poiret One', cursive;
    }
}